# Assignment 1 : Data Frame Operations with Pandas

Task 1: Import the Necessary Libraries

In [2]:
import pandas as pd

Task 2: Loading data into dataframes

In [3]:
employee_df = pd.read_csv('C:/Users/ther3/Marquette/Spring 2025/COSC 5610 - Data Mining/codes/Assignment 1/EMPLOYEE.csv')
department_df = pd.read_csv('C:/Users/ther3/Marquette/Spring 2025/COSC 5610 - Data Mining/codes/Assignment 1/DEPARTMENT.csv')

Task 3: Inspect the data

In [4]:
employee_df.head(5)

,FNAME,LNAME,SSN,BDATE,ADDRESS,SALARY,SUPERSSN,DNO
0,James,Borg,888665555,10-Nov-27,"450 Stone, Houston, TX",55000.0,NaN,1
1,Jennifer,Wallace,987654321,20-Jun-31,"291 Berry, Bellaire, TX",43000.0,888665555.0,4
2,Alicia,Zelaya,999887777,19-Jul-58,"3321 Castle, Spring, TX",25000.0,987654321.0,4
3,Ahmad,Jabbar,987987987,29-Mar-59,"980 Dallas, Houston, TX",25000.0,987654321.0,4
4,Joyce,English,453453453,31-Jul-62,"5631 Rice Oak, Houston, TX",25000.0,333445555.0,5

In [5]:
department_df.head(5)

            DNAME  DNUMBER     MGRSSN MGRSTARTDATE
0    Headquarters        1  888665555    19-JUN-71
1  Administration        4  987654321    01-JAN-85
2        Research        5  333445555    22-MAY-78
3        Software        6  111111100    15-MAY-99
4        Hardware        7  444444400    15-MAY-98

In [6]:
employee_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   FNAME     40 non-null     object
 1   LNAME     40 non-null     object
 2   SSN       40 non-null     int64
 3   BDATE     40 non-null     object
 4   ADDRESS   40 non-null     object
 5   SALARY    37 non-null     float64
 6   SUPERSSN  33 non-null     float64
 7   DNO       40 non-null     int64
dtypes: float64(2), int64(2), object(4)
memory usage: 2.6+ KB

In [7]:
department_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DNAME         6 non-null      object
 1   DNUMBER       6 non-null      int64
 2   MGRSSN        6 non-null      int64
 3   MGRSTARTDATE  6 non-null      object
dtypes: int64(2), object(2)
memory usage: 324.0+ bytes

Task 4: Data Cleaning

In [8]:
employee_null = employee_df.isnull()
employee_null

    FNAME  LNAME    SSN  BDATE  ADDRESS  SALARY  SUPERSSN    DNO
0   False  False  False  False    False   False      True  False
1   False  False  False  False    False   False     False  False
2   False  False  False  False    False   False     False  False
3   False  False  False  False    False   False     False  False
4   False  False  False  False    False   False     False  False
5   False  False  False  False    False   False     False  False
6   False  False  False  False    False   False     False  False
7   False  False  False  False    False   False     False  False
8   False  False  False  False    False   False      True  False
9   False  False  False  False    False   False     False  False
10  False  False  False  False    False   False     False  False
11  False  False  False  False    False   False     False  False
12  False  False  False  False    False   False     False  False
13  False  False  False  False    False   False      True  False
14  False  False  False  False    False   False     False  False
15  False  False  False  False    False   False      True  False
16  False  False  False  False    False   False     False  False
17  False  False  False  False    False   False     False  False
18  False  False  False  False    False   False     False  False
19  False  False  False  False    False   False     False  False
20  False  False  False  False    False   False     False  False
21  False  False  False  False    False   False     False  False
22  False  False  False  False    False   False     False  False
23  False  False  False  False    False   False      True  False
24  False  False  False  False    False   False      True  False
25  False  False  False  False    False   False     False  False
26  False  False  False  False    False   False      True  False
27  False  False  False  False    False   False     False  False
28  False  False  False  False    False   False     False  False
29  False  False  False  False    False   False     False  False
30  False  False  False  False    False    True     False  False
31  False  False  False  False    False    True     False  False
32  False  False  False  False    False   False     False  False
33  False  False  False  False    False   False     False  False
34  False  False  False  False    False   False     False  False
35  False  False  False  False    False   False     False  False
36  False  False  False  False    False   False     False  False
37  False  False  False  False    False    True     False  False
38  False  False  False  False    False   False     False  False
39  False  False  False  False    False   False     False  False

In [9]:

columns = employee_null.keys().tolist()
breaker = '-'*50
for index in range(0, len(columns)-1):
    null_value_index = employee_null.loc[employee_null[columns[index]] == True]
    print(f"For the {columns[index]} column: \n")
    print(null_value_index)
    print(f'{breaker} \n')

For the FNAME column:

Empty DataFrame
Columns: [FNAME, LNAME, SSN, BDATE, ADDRESS, SALARY, SUPERSSN, DNO]
Index: []
--------------------------------------------------

For the LNAME column:

Empty DataFrame
Columns: [FNAME, LNAME, SSN, BDATE, ADDRESS, SALARY, SUPERSSN, DNO]
Index: []
--------------------------------------------------

For the SSN column:

Empty DataFrame
Columns: [FNAME, LNAME, SSN, BDATE, ADDRESS, SALARY, SUPERSSN, DNO]
Index: []
--------------------------------------------------

For the BDATE column:

Empty DataFrame
Columns: [FNAME, LNAME, SSN, BDATE, ADDRESS, SALARY, SUPERSSN, DNO]
Index: []
--------------------------------------------------

For the ADDRESS column:

Empty DataFrame
Columns: [FNAME, LNAME, SSN, BDATE, ADDRESS, SALARY, SUPERSSN, DNO]
Index: []
--------------------------------------------------

For the SALARY column:

    FNAME  LNAME    SSN  BDATE  ADDRESS  SALARY  SUPERSSN    DNO
30  False  False  False  False    False    True     False  False
31  False  False  False  False    False    True     False  False
37  False  False  False  False    False    True     False  False
--------------------------------------------------

For the SUPERSSN column:

    FNAME  LNAME    SSN  BDATE  ADDRESS  SALARY  SUPERSSN    DNO
0   False  False  False  False    False   False      True  False
8   False  False  False  False    False   False      True  False
13  False  False  False  False    False   False      True  False
15  False  False  False  False    False   False      True  False
23  False  False  False  False    False   False      True  False
24  False  False  False  False    False   False      True  False
26  False  False  False  False    False   False      True  False
--------------------------------------------------

In [10]:
department_null = department_df.isnull()
department_null

   DNAME  DNUMBER  MGRSSN  MGRSTARTDATE
0  False    False   False         False
1  False    False   False         False
2  False    False   False         False
3  False    False   False         False
4  False    False   False         False
5  False    False   False         False

In [11]:
employee_df['SALARY'].fillna(employee_df['SALARY'].mean(), inplace=True)

C:\Users\ther3\AppData\Local\Temp\ipykernel_25084\2571161427.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  employee_df['SALARY'].fillna(employee_df['SALARY'].mean(), inplace=True)

Task 5: Data Manipulation

In [4]:
employees = employee_df[employee_df['SALARY'] > 40000]
print(type(employees))
employees= pd.DataFrame({
    'First Name': employees["FNAME"],
    'Last Name': employees["LNAME"],
    'SSN' :employees['SSN']
})

employees

<class 'pandas.core.frame.DataFrame'>

   First Name Last Name        SSN
0       James      Borg  888665555
1    Jennifer   Wallace  987654321
8       Jared     James  111111100
9        Brad    Knight  111111103
10       Jeff     Chase  333333301
11        Jon     Jones  111111101
13       John     James  555555500
14    Nandita      Ball  555555501
15        Kim     Grace  333333300
16        Sam   Snedden  444444403
17       Alec      Best  444444402
18     Bonnie      Bays  444444401
19      Jenny       Vos  222222204
20        Tom     Brand  222222203
21       Andy      Vile  222222202
22       Josh      Zell  222222201
23       Evan    Wallis  222222200
24       Alex     Freed  444444400
25      Chris    Carter  222222205
26        Bob    Bender  666666600
28       Kate      King  666666602
29       Lyle    Leslie  666666603
39        Ray      King  666666606

In [ ]:
employees1 = employee_df[employee_df['SUPERSSN'] == 666666602]

employees1 = pd.DataFrame({
    'First Name': employees1["FNAME"],
    'Last Name': employees1["LNAME"],
    'SSN': employees1['SSN'],
 
})

employees1

   First Name Last Name        SSN
33     Gerald     Small  666666607
34     Arnold      Head  666666608
35      Helga    Pataki  666666609

In [12]:
employees1 = employee_df[employee_df['SUPERSSN'] == 666666602]
employees1[['FNAME', 'LNAME']]

     FNAME   LNAME
33  Gerald   Small
34  Arnold    Head
35   Helga  Pataki

Task 6: Merge Data

In [15]:
department_df.rename(columns={'DNUMBER': 'DNO'}, inplace=True)

In [16]:
employee_detailed = pd.merge(employee_df, department_df, on='DNO')

employee_detailed.head(10)

,FNAME,LNAME,SSN,BDATE,ADDRESS,SALARY,SUPERSSN,DNO,DNAME,MGRSSN,MGRSTARTDATE
0,James,Borg,888665555,10-Nov-27,"450 Stone, Houston, TX",55000.0,NaN,1,Headquarters,888665555,19-JUN-71
1,Jennifer,Wallace,987654321,20-Jun-31,"291 Berry, Bellaire, TX",43000.0,888665555.0,4,Administration,987654321,01-JAN-85
2,Alicia,Zelaya,999887777,19-Jul-58,"3321 Castle, Spring, TX",25000.0,987654321.0,4,Administration,987654321,01-JAN-85
3,Ahmad,Jabbar,987987987,29-Mar-59,"980 Dallas, Houston, TX",25000.0,987654321.0,4,Administration,987654321,01-JAN-85
4,Joyce,English,453453453,31-Jul-62,"5631 Rice Oak, Houston, TX",25000.0,333445555.0,5,Research,333445555,22-MAY-78
5,Franklin,Wong,333445555,8-Dec-45,"638 Voss, Houston, TX",40000.0,888665555.0,5,Research,333445555,22-MAY-78
6,John,Smith,123456789,9-Jan-55,"731 Fondren, Houston, TX",30000.0,333445555.0,5,Research,333445555,22-MAY-78
7,Ramesh,Narayan,666884444,15-Sep-52,"971 Fire Oak, Humble, TX",38000.0,333445555.0,5,Research,333445555,22-MAY-78
8,Jared,James,111111100,10-Oct-66,"123 Peachtree, Atlanta, GA",85000.0,NaN,6,Software,111111100,15-MAY-99
9,Brad,Knight,111111103,13-Feb-68,"176 Main St., Atlanta, GA",44000.0,111111100.0,6,Software,111111100,15-MAY-99

In [17]:
research_employees = employee_detailed[employee_detailed['DNAME'] == 'Research']
research_employees = pd.DataFrame({
    'FIRST NAME': research_employees['FNAME'],
    'LAST NAME': research_employees['LNAME'],
    'EMPLOYEE SSN': research_employees['SSN']
})
research_employees

  FIRST NAME LAST NAME  EMPLOYEE SSN
4      Joyce   English     453453453
5   Franklin      Wong     333445555
6       John     Smith     123456789
7     Ramesh   Narayan     666884444

In [18]:

employee_detailed_null= pd.isnull(employee_detailed)
employee_detailed_null

,FNAME,LNAME,SSN,BDATE,ADDRESS,SALARY,SUPERSSN,DNO,DNAME,MGRSSN,MGRSTARTDATE
0,False,False,False,False,False,False,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,True,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,True,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,True,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,True,False,False,False,False
24,False,False,False,False,False,False,True,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,True,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False,False,False,False,False
32,False,False,False,False,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False,False,False,False
34,False,False,False,False,False,False,False,False,False,False,False
35,False,False,False,False,False,False,False,False,False,False,False
36,False,False,False,False,False,False,False,False,False,False,False
37,False,False,False,False,False,False,False,False,False,False,False
38,False,False,False,False,False,False,False,False,False,False,False
39,False,False,False,False,False,False,False,False,False,False,False

In [19]:
employee_detailed['SUPERSSN'].fillna(employee_detailed['MGRSSN'], inplace=True)
employee_detailed

C:\Users\ther3\AppData\Local\Temp\ipykernel_25084\2849336823.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  employee_detailed['SUPERSSN'].fillna(employee_detailed['MGRSSN'], inplace=True)

,FNAME,LNAME,SSN,BDATE,ADDRESS,SALARY,SUPERSSN,DNO,DNAME,MGRSSN,MGRSTARTDATE
0,James,Borg,888665555,10-Nov-27,"450 Stone, Houston, TX",55000.000000,888665555.0,1,Headquarters,888665555,19-JUN-71
1,Jennifer,Wallace,987654321,20-Jun-31,"291 Berry, Bellaire, TX",43000.000000,888665555.0,4,Administration,987654321,01-JAN-85
2,Alicia,Zelaya,999887777,19-Jul-58,"3321 Castle, Spring, TX",25000.000000,987654321.0,4,Administration,987654321,01-JAN-85
3,Ahmad,Jabbar,987987987,29-Mar-59,"980 Dallas, Houston, TX",25000.000000,987654321.0,4,Administration,987654321,01-JAN-85
4,Joyce,English,453453453,31-Jul-62,"5631 Rice Oak, Houston, TX",25000.000000,333445555.0,5,Research,333445555,22-MAY-78
5,Franklin,Wong,333445555,8-Dec-45,"638 Voss, Houston, TX",40000.000000,888665555.0,5,Research,333445555,22-MAY-78
6,John,Smith,123456789,9-Jan-55,"731 Fondren, Houston, TX",30000.000000,333445555.0,5,Research,333445555,22-MAY-78
7,Ramesh,Narayan,666884444,15-Sep-52,"971 Fire Oak, Humble, TX",38000.000000,333445555.0,5,Research,333445555,22-MAY-78
8,Jared,James,111111100,10-Oct-66,"123 Peachtree, Atlanta, GA",85000.000000,111111100.0,6,Software,111111100,15-MAY-99
9,Brad,Knight,111111103,13-Feb-68,"176 Main St., Atlanta, GA",44000.000000,111111100.0,6,Software,111111100,15-MAY-99
10,Jeff,Chase,333333301,7-Jan-70,"145 Bradbury, Sacramento, CA",44000.000000,333333300.0,6,Software,111111100,15-MAY-99
11,Jon,Jones,111111101,14-Nov-67,"111 Allgood, Atlanta, GA",45000.000000,111111100.0,6,Software,111111100,15-MAY-99
12,Justin,Mark,111111102,12-Jan-66,"2342 May, Atlanta, GA",40000.000000,111111100.0,6,Software,111111100,15-MAY-99
13,John,James,555555500,30-Jun-75,"7676 Bloomington, Sacramento, CA",81000.000000,111111100.0,6,Software,111111100,15-MAY-99
14,Nandita,Ball,555555501,16-Apr-69,"222 Howard, Sacramento, CA",62000.000000,555555500.0,6,Software,111111100,15-MAY-99
15,Kim,Grace,333333300,23-Oct-70,"6677 Mills Ave, Sacramento, CA",79000.000000,111111100.0,6,Software,111111100,15-MAY-99
16,Sam,Snedden,444444403,31-Jul-77,"987 Windy St, Milwaukee, WI",48000.000000,444444400.0,7,Hardware,444444400,15-MAY-98
17,Alec,Best,444444402,18-Jun-66,"233 Solid, Milwaukee, WI",60000.000000,444444400.0,7,Hardware,444444400,15-MAY-98
18,Bonnie,Bays,444444401,19-Jun-56,"111 Hollow, Milwaukee, WI",70000.000000,444444400.0,7,Hardware,444444400,15-MAY-98
19,Jenny,Vos,222222204,11-Nov-67,"263 Mayberry, Milwaukee, WI",61000.000000,222222201.0,7,Hardware,444444400,15-MAY-98
20,Tom,Brand,222222203,16-Dec-66,"112 Third St, Milwaukee, WI",62500.000000,222222200.0,7,Hardware,444444400,15-MAY-98
21,Andy,Vile,222222202,21-Jun-44,"1967 Jordan, Milwaukee, WI",53000.000000,222222200.0,7,Hardware,444444400,15-MAY-98
22,Josh,Zell,222222201,22-May-54,"266 McGrady, Milwaukee, WI",56000.000000,222222200.0,7,Hardware,444444400,15-MAY-98
23,Evan,Wallis,222222200,16-Jan-58,"134 Pelham, Milwaukee, WI",92000.000000,444444400.0,7,Hardware,444444400,15-MAY-98
24,Alex,Freed,444444400,9-Oct-50,"4333 Pillsbury, Milwaukee, WI",89000.000000,444444400.0,7,Hardware,444444400,15-MAY-98
25,Chris,Carter,222222205,21-Mar-60,"565 Jordan, Milwaukee, WI",43000.000000,222222201.0,7,Hardware,444444400,15-MAY-98
26,Bob,Bender,666666600,17-Apr-68,"8794 Garfield, Chicago, IL",96000.000000,555555500.0,8,Sales,555555500,01-JAN-97
27,Jill,Jarvis,666666601,14-Jan-66,"6234 Lincoln, Chicago, IL",36000.000000,666666600.0,8,Sales,555555500,01-JAN-97
28,Kate,King,666666602,16-Apr-66,"1976 Boone Trace, Chicago, IL",44000.000000,666666600.0,8,Sales,555555500,01-JAN-97
29,Lyle,Leslie,666666603,9-Jun-63,"417 Hancock Ave, Chicago, IL",41000.000000,666666601.0,8,Sales,555555500,01-JAN-97
30,Billie,King,666666604,1-Jan-60,"556 Washington, Chicago, IL",50148.648649,666666603.0,8,Sales,555555500,01-JAN-97
31,Jon,Kramer,666666605,22-Aug-64,"1988 Windy Creek, Seattle, WA",50148.648649,666666603.0,8,Sales,555555500,01-JAN-97
32,Red,Bacher,666666613,21-May-80,"196 Elm Street, Miami, FL",33500.000000,666666612.0,8,Sales,555555500,01-JAN-97
33,Gerald,Small,666666607,15-May-62,"122 Ball Street, Dallas, TX",29000.000000,666666602.0,8,Sales,555555500,01-JAN-97
34,Arnold,Head,666666608,19-May-67,"233 Spring St, Dallas, TX",33000.000000,666666602.0,8,Sales,555555500,01-JAN-97
35,Helga,Pataki,666666609,11-Mar-69,"101 Holyoke St, Dallas, TX",32000.000000,666666602.0,8,Sales,555555500,01-JAN-97
36,Naveen,Drew,666666610,23-May-70,"198 Elm St, Philadelphia, PA",34000.000000,666666607.0,8,Sales,555555500,01-JAN-97
37,Carl,Reedy,666666611,21-Jun-77,"213 Ball St, Philadelphia, PA",50148.648649,666666610.0,8,Sales,555555500,01-JAN-97
38,Sammy,Hall,666666612,11-Jan-70,"433 Main Street, Miami, FL",37000.000000,666666611.0,8,Sales,555555500,01-JAN-97
39,Ray,King,666666606,16-Aug-49,"213 Delk Road, Seattle, WA",44500.000000,666666604.0,8,Sales,555555500,01-JAN-97

In [20]:
employee_detailed.notnull()

,FNAME,LNAME,SSN,BDATE,ADDRESS,SALARY,SUPERSSN,DNO,DNAME,MGRSSN,MGRSTARTDATE
0,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True
5,True,True,True,True,True,True,True,True,True,True,True
6,True,True,True,True,True,True,True,True,True,True,True
7,True,True,True,True,True,True,True,True,True,True,True
8,True,True,True,True,True,True,True,True,True,True,True
9,True,True,True,True,True,True,True,True,True,True,True
10,True,True,True,True,True,True,True,True,True,True,True
11,True,True,True,True,True,True,True,True,True,True,True
12,True,True,True,True,True,True,True,True,True,True,True
13,True,True,True,True,True,True,True,True,True,True,True
14,True,True,True,True,True,True,True,True,True,True,True
15,True,True,True,True,True,True,True,True,True,True,True
16,True,True,True,True,True,True,True,True,True,True,True
17,True,True,True,True,True,True,True,True,True,True,True
18,True,True,True,True,True,True,True,True,True,True,True
19,True,True,True,True,True,True,True,True,True,True,True
20,True,True,True,True,True,True,True,True,True,True,True
21,True,True,True,True,True,True,True,True,True,True,True
22,True,True,True,True,True,True,True,True,True,True,True
23,True,True,True,True,True,True,True,True,True,True,True
24,True,True,True,True,True,True,True,True,True,True,True
25,True,True,True,True,True,True,True,True,True,True,True
26,True,True,True,True,True,True,True,True,True,True,True
27,True,True,True,True,True,True,True,True,True,True,True
28,True,True,True,True,True,True,True,True,True,True,True
29,True,True,True,True,True,True,True,True,True,True,True
30,True,True,True,True,True,True,True,True,True,True,True
31,True,True,True,True,True,True,True,True,True,True,True
32,True,True,True,True,True,True,True,True,True,True,True
33,True,True,True,True,True,True,True,True,True,True,True
34,True,True,True,True,True,True,True,True,True,True,True
35,True,True,True,True,True,True,True,True,True,True,True
36,True,True,True,True,True,True,True,True,True,True,True
37,True,True,True,True,True,True,True,True,True,True,True
38,True,True,True,True,True,True,True,True,True,True,True
39,True,True,True,True,True,True,True,True,True,True,True